.School {
    border: 1px solid pink;
}

.School h5 {
    margin: 20px;
}

.movie_head {
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.movie_head i {
    float: right;
}

.achievement_text span {
    color: orchid;
}

.photo {
    display: flex;
    justify-content: center;
}

.sec img {
    height: 30%;
    width: 40;
}